<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Join Us</title>
</head>
<body>
	<h1>JOIN US</h1>
	<p>Enter your email to join <strong><%=count%></strong> others in our waitlist</p>
	<form method="post" action="/register">
		<input type="text" name="email" placeholder="Enter your email">
		<button>Join Now</button>
	</form>
</body>
</html>